html{font-size:calc(3.75vw);}
html,body{height:100%;margin:0;font-family:"微软雅黑";}
input,select{-webkit-appearance: none;border-radius:0;appearance:none;background-color:transparent;}
h1,h2,h3,h4,h5,h6,b{font-weight:normal;margin:0;}
*{box-sizing:border-box;}
a,input{-webkit-tap-highlight-color:transparent;text-decoration: none;}
.page{height:100%;overflow:hidden;width:100%;}
.c-6{color:#666;}
.page.box{display:-webkit-box;}
.page.box .content{-webkit-box-flex:1;}
.page.has-footer{padding-bottom:8rem;}
.ptb-10{padding-top:1rem;padding-bottom:1rem;}.p-5{padding:0.5rem;}
.footer{height:8rem;}
.footer .col{padding:0 1rem;}
.mt-20{margin-top:2rem;}
.auto{overflow:auto;}
ul{padding:0;margin:0;list-style: none;}
h1,h2,h3,h4,h5,h6,p{margin:0;font-weight:normal;}
input:focus,select:focus{outline:none;}
img{border:none;vertical-align: top;}
.gray{background-color:#F7F7F7;}.white{background-color:#fff;}
.row{display:table;table-layout: fixed;border-collapse: collapse;}
.grid{display:block;font-size:0;}
.grid .col{display:inline-block;font-size:14px;vertical-align: top;height:100%;}
.grid.click .col:active{background-color:rgba(0,0,0,0.1);}
.col{display:table-cell;box-sizing:border-box;position:relative;}
.v-t{vertical-align: top;}.v-m{vertical-align: middle;}.v-b{vertical-align: bottom;}
.t-l{text-align:left;}.t-c{text-align:center;}.t-r{text-align:right;}
.w{width:100%;}.h{height:100%;}
.col-24{width:100%;}.col-23{width:95.8%;}.col-22{width:91.6%;}.col-21{width:87.5%;}.col-20{width:83.3%;}.col-19{width:79.1%;}.col-18{width:75%;}.col-17{width:70.8%;}.col-16{width:66.6%;}.col-15{width:62.5%;}.col-14{width:58.3%;}.col-13{width:54.1%;}.col-12{width:50%;}.col-11{width:45.8%;}.col-10{width:41.6%;}.col-8{width:37.5%;}.col-8{width:33.3%;}.col-7{width:29.1%;}.col-6{width:25%;}.col-5{width:20.8%;}.col-4{width:16.6%;}.col-3{width:12.5%;}.col-2{width:8.3%;}.col-1{width:4.2%;}
.c-n{color:#353535;}.c-red{color:#eb3d00 !important;}.c-4{color:#444;}.c-gray{color:rgba(68,68,68,0.55);}.c-yellow{color:#FDC800 !important;}.c-blue{color:#43B5E4 !important;}
.fs-10{font-size:1rem;}.fs-12{font-size:1.2rem;}.fs-14{font-size:1.4rem;}.fs-16{font-size:1.6rem;}
.mt-5{margin-top:0.5rem;}.mb-5{margin-bottom:0.5rem;}.mt-10{margin-top:1rem;}.mb-10{margin-bottom:1rem !important;}
.p-1{padding:1rem;}.plr-10{padding-left:1rem;padding-right:1rem;}
.block{display:block;}
.sub-line{border-bottom:1px solid #E9E9E9;}
.top-line{border-top:1px solid #E9E9E9;}
.link{border:none;background:none;}
/*logo*/
.logo{margin-bottom:4rem;width:auto !important;height:auto !important;}
/*input*/
.form-panel .form{margin-bottom:1rem;}
.form-panel{padding:1rem;}
.form{display:inline-block;position:relative;}
.form.icon-left input[type=text]{padding-left:3.5rem;}
.form.has-btn{padding-right:10rem;}
.form.has-btn .btn{width:9rem;right:0;top:50%;position:absolute;padding:1rem 0;background:#EB3D00;transform:translateY(-50%);}
.form.disabled .btn{background-color:#DDDDDD;color:#454545;}
.form .iconfont{display:inline-block;position:absolute;left:1rem;top:50%;transform:translateY(-50%);font-size:1.8rem;color:#979797;}
.form input[type=text]{font-size:1.2rem;padding:1rem;border:1px solid #E6E6E6;width:100%;line-height:normal;}
.form.line input{border-top:none;border-left:none;border-right:none;margin:0;text-align:right;font-size:1rem;}
.form .text{position:absolute;left:0;top:50%;transform:translateY(-50%);padding:0 1rem;font-size:1rem;color:#444;}
.form.ion-right input{padding-right:2rem;}
.form.ion-right .iconfont{position:absolute;right:0.5rem;top:50%;transform:translate(0,-50%);left:auto;font-size:1rem;}
.form select{border:1px solid #E6E6E6;font-size:1rem;padding:0.6rem 1rem;border-radius:0.2rem;}
.checkbox{font-size:0;display:inline-block;vertical-align: middle;}
.checkbox input[type=checkbox],.checkbox input[type=radio]{width:2rem;height:2rem;margin:0;vertical-align: middle;position:relative;z-index:2;opacity:0;}
.checkbox .iconfont{display:inline-block;vertical-align: middle;width:2rem;height:2rem;line-height:2rem;text-align:center;border:2px solid #DADADA;background:#fff;color:#fff;margin-left:-2rem;position:relative;z-index:1;font-size:1.4rem;margin-right:0 !important;padding:0;}
.checkbox input:checked + .iconfont{color:#30AD1B;}
.checkbox label{font-size:1rem;vertical-align: middle;padding:0 0.5rem;color:#494848;}
.checkbox label a{color:#EB3D00;text-decoration:underline;}
.checkbox.circle .iconfont{border-radius:50%;border-width:1px;position:relative;}
.checkbox.circle .iconfont:before{display:inline-block;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);height:1.2rem;width:1.2rem;text-align:center;content:"";border-radius:50%;}
.checkbox.circle input:checked + .iconfont:before{background-color:#D1D1D1;font-size:1.4rem;}
.checkbox.full .iconfont{border-radius:50%;}
.checkbox.full input:checked + .iconfont{background:#EB3D00;color:#fff;border-color:#EB3D00;}
/*btn*/
.btn{display:inline-block;font-size:1.2rem;text-align:center;color:#fff;padding:1rem 3rem;text-decoration:none;border-radius:0.3rem;transition:0.3s;border:1px solid transparent;}
.btn-small{padding:0.5rem 1.5rem;font-size:1rem;}
.btn:active{opacity:0.8;}
.btn-block{width:100%;}
.btn-danger{background-color:#EB3D00;}
.btn-light{color:#444;border:1px solid #444;}
/*登录*/
.devision .item{border-left:1px solid #6A6A6A;}
.devision .item:first-child{border:none;}
.login .devision .item{padding:0 2rem;font-size:1rem;}
/*忘记密码*/
.tips{font-size:1rem;background:#FFFBD3;color:#F8B918;border:1px solid #F7D168;border-radius:0.1rem;padding:0.6rem 0.3rem;margin-bottom:1rem;}
.tips .iconfont{width:3rem;text-align:center;font-size:2rem;}
.tips.icon{padding:0.5rem 0.3rem;}
/*积分商城*/
.page.has-nav{padding-bottom:55px;}
.page.has-head{padding-top:12rem;}
.has-head .head-bar{margin-top:-12rem;}
.page .content{height:100%;overflow:auto;overflow-x:hidden;}
.page .nav{height:4rem;text-align:center;}
.nav{border-top:1px solid #E0E0E0;background:#FBFBFB;}
.nav a{color:#9e9e9e;}
.nav a .icon{display:inline-block;width:100%;padding:0.2rem;}
.nav a .icon .iconfont{font-size:1.4rem;display:none;}
.nav a .icon .iconfont:first-child{display:inline-block;}
.nav .active .icon .iconfont{display:inline-block;color:#EB3D00;}
.nav .active .icon .iconfont:first-child{display:none;}
.nav a b{font-weight:normal;font-size:1rem;}
.nav .active b{color:#EB3D00;}
.banner{height:12rem;}
.advert{height:6rem;}
.swiper-container a,.swiper-container a img{display:inline-block;width:100%;height:100%;}
.banner .swiper-pagination-bullet,.advert .swiper-pagination-bullet{background:rgba(255,255,255,1);}
.d-line .col:before{content:'';display:inline-block;width:1px;height:90%;background:#E9E9E9;position:absolute;left:-1px;top:50%;transform:translate(0, -50%);}
.d-line .col:first-child:before{display:none;}
.title{font-size:1.2rem;color:#424242;padding:0 2rem;position:relative;margin-top:1rem;}
.title:before{content:"";display:inline-block;width:2px;height:1.2rem;background:#EB3D00;position:absolute;left:1rem;top:50%;transform:translateY(-50%);}
.goods-list{padding:0.5rem;}
.goods-list .col{padding:0.5rem;}
.goods{background:#fff;display:block;padding:0.5rem;}
.goods .cover{display:inline-block;width:100%;text-align:center;background:#fff;}
.goods .cover img{width:100%;height:100%;}
.goods .name{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;font-size:1.1rem;color:#424242;padding:0.5rem 0;}
/*车险报价*/
.safe-list > .row{border-bottom:1px solid #EBEBEB;position:relative;}
.safe-list .img{width:5.5rem;height:5.5rem;display:inline-block;border:1px solid #E5E5E5;vertical-align: middle;}
.safe-list .img.large{width:9rem;height:9rem;border:none;}
.safe-list .img:before{content:"";display:inline-block;width:0;height:100%;vertical-align: middle;}
.safe-list .img img{vertical-align:middle;width:100%;height:100%;}
.safe-list .name{font-size:1.2rem;color:#0c0c0c;display:block;margin-bottom:0.6rem;}
.safe-list i{font-style:normal;font-size:1rem;color:#757575;display:block;}
.safe-list .rec:after{content:"";display:inline-block;width:5rem;height:5rem;position:absolute;right:0;top:0;background:url(../img/rec.png) no-repeat right top;background-size:4rem;}
.safe-list .row:active{background:rgba(0,0,0,0.1);}
.safe-list .c-red{font-size:1.4rem;}
.safe-list .num{font-size:1.6rem;margin-right:0.2rem;}
.safe-list .status{padding-right:1rem;font-size:1.2rem;color:#999;}
/*我的*/
.head-bar{height:100%;}
.head-bar .col{color:#fff;padding:1rem;font-size:1.3rem;}
.head-bar .iconfont{font-size:1.6rem;color:#fff;}
.head-bar .col:first-child{padding:2rem;padding-bottom:5rem;}
.head-bar .circle{border-radius:50%;border:1px solid #fff;margin-right:0.5rem;width:80px;}
.order a{color:#2b2b2b;font-size:1rem;text-align:center;position:relative;}
.order .col{padding:1rem 0;}
.order .iconfont{display:block;color:#7A7A7A;font-size:1.4rem;margin-bottom:0.2rem;}
.order .iconfont img{width:2rem;}
.order .num{position:absolute;top:.2rem;right:0.8rem;color:#EB3E01;font-style:normal;border:2px solid #EB3E01;display:inline-block;min-width:1.4rem;height:1.4rem;border-radius:50%;line-height:1.3rem;font-size:1rem;background:#fff;}
.order .col:active{background-color:rgba(0,0,0,0.1);}
.order .col{border-left:1px solid #EEE;}
.order .iconfont{display:inline-block;width:3.5rem;height:3.5rem;line-height:3.5rem;border-radius:50%;text-align:center;color:#fff;}
.order b{display:block;}
.block-link .col{padding:10px 15px;}
.block-link{border-bottom:1px solid #E9E9E9;font-size:1.2rem;color:#444;background:#fff;}
.block-link .col:first-child{width:20%;text-align:center;font-size:1.6rem;}
.block-link:first-child{border-top:1px solid #E9E9E9;}
.block-link:active{background-color:rgba(0,0,0,0.1);}
/*完善信息*/
.module-title{background:#F7F7F7;border-top:1px solid #EBEBEB;border-bottom:1px solid #EBEBEB;padding:0.6rem 1rem;color:#ABABAB;}
.sub-module-title{font-size:1rem;color:#434343;padding:0.8rem 1rem;}
.plr-10 .sub-module-title{padding:0.6rem 0;}
.sub-module-title .info{font-size:0.9rem;color:#ADADAD;}
.page.has-btn{padding-bottom:5rem;}
.btn-area{height:5rem;border-top:1px solid #E8E8E8;}
.btn-area .col{padding:0 1rem;}
.take-photo{position:relative;padding:1rem 0;text-align:center;}
.take-photo img{width:100%;}
.take-photo .iconfont{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);font-size:4rem;color:#43B5E4;display:inline-block;}
/*选择保障*/
.choose-list .row{border-bottom:1px solid #EBEBEB;position:relative;}
.choose-list .col{padding:0.8rem;}
.choose-list .right{position:absolute;right:0;top:50%;transform:translateY(-50%);}
.choose-list .select{position:absolute;right:10rem;top:50%;transform:translateY(-50%);}
.choose-list .right{display:none;}
.choose-list input:checked + span + label + .select + .right{display:inline-block;}
/* 兼容iphone4/4s5/5 */ 
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2),(device-height:568px) and (-webkit-min-device-pixel-ratio:2){
input::-webkit-input-placeholder{transform:translateY(-1px);}
}

input::-webkit-input-placeholder{font-size:1.2rem;}

/*修改weui*/
.vux-popup-picker-header{background:#fff !important;}
.weui-cell:before{left:0 !important;}
.weui-label,.vux-label{color:#646464;font-size:1.2rem;}
.weui-input,.weui-cell__ft{color:#2b2b2b !important;font-size:1.2rem;}
.address .weui-cell__ft{max-width:70%;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.weui-btn{font-size:1.2rem !important;}
@media screen and (max-width: 414px) {
  html{font-size:calc(3.8vw);}
}
@media screen and (max-width: 320px) {
  html{font-size:calc(3.8vw);}
}

/*img[lazy=loading] {
}
img[lazy=error] {
  background:#f00;
}
img[lazy=loaded] {
}*/

.weui-cell_access .weui-cell__ft:after{border-width:1px 1px 0 0 !important;}
/*.num{font-family:'Capsuula';}*/